    <div id="container">
      <h1>SEALNet Alumni Roster</h1>
      <br>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">

        <thead>
          <tr>
            <th>Name</th>
            <th>School</th>
            <th>Company</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <br>
    </div>

<script type="text/javascript">
        $(document).ready(function() {
            $('#example').dataTable( {
                "bServerSide":false,
                "bProcessing":true,
                "bRetrieve": true,
                "bDestroy": true,
                "sAjaxDataProp": "feed.entry",
                "sAjaxSource": "https://spreadsheets.google.com/feeds/list/0At6a2hDBOViTdG1zRE83R2VSMWduUDljUG1JaWxEOUE/od6/public/values?alt=json",
                "aoColumns": [                 
                    { "mDataProp": "gsx$name.$t" },
                    { "mDataProp": "gsx$school.$t" },
                    { "mDataProp": "gsx$company.$t" },
                    { "mDataProp": "gsx$email.$t" }
                            ]
            } );
        } );

</script>
