<div class="jumbotron">
  <div class="container">
    <h1>Welcome to SEALNet Feedback Central!</h1>
    <p>Where conscious reflection breeds change.</p>
    <p><a class="btn btn-primary" <%= link_to "View 2013 Report", feedback13_path %></a>
    </p>
  </div>
</div>

