<div class="container" style="padding: 0px 100px 0px">
	<div id="footer">
    	<p class="text-muted credit"><%= link_to raw("&copy; SEALNet 2013"), "http://sealnetonline.org"%></p>
  	</div>
</div>


